body{
    background: mediumaquamarine
}
.GoTr{
    background: beige
}
.but{
    background: aqua;color: blue
}
.chill{
    background:
}
.titl{
    margin-left: 600px;
}
.myDiv{
    border: 5px solid black;
    background-color: green;
    width: 500px;
    margin-left: 400px
}